/* Provide sufficient contrast against white background */

a {
    /*color: #0366d6;*/
    color: white;
}

code {
    color: #E01A76;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.updatebutton {
    color: purple;
    background: red;
    font-family: inherit;
    font-size: inherit;
}

.form-control-uppercase {
    text-transform: uppercase;
}