.span-000000 {
    background-color: #000000;
    border-color: black;
}
.span-4D4D4D {
    background-color: #4D4D4D;
    border-color: black;
}
.span-333333 {
    background-color: #333333;
    border-color: black;
}
.span-999999 {
    background-color: #999999;
    border-color: black;
}
.span-808080 {
    background-color: #808080;
    border-color: black;
}
.span-666666 {
    background-color: #666666;
    border-color: black;
}
.span-FFFFFF {
    background-color: #FFFFFF;
    border-color: black;
}
.span-CCCCCC {
    background-color: #CCCCCC;
    border-color: black;
}
.span-B3B3B3 {
    background-color: #B3B3B3;
    border-color: black;
}
.span-F44E3B {
    background-color: #F44E3B;
    border-color: black;
}
.span-D33115 {
    background-color: #D33115;
    border-color: black;
}
.span-9F0500 {
    background-color: #9F0500;
    border-color: black;
}
.span-FE9200 {
    background-color: #FE9200;
    border-color: black;
}
.span-E27300 {
    background-color: #E27300;
    border-color: black;
}
.span-C45100 {
    background-color: #C45100;
    border-color: black;
}
.span-FCDC00 {
    background-color: #FCDC00;
    border-color: black;
}
.span-FCC400 {
    background-color: #FCC400;
    border-color: black;
}
.span-FB9E00 {
    background-color: #FB9E00;
    border-color: black;
}
.span-DBDF00 {
    background-color: #DBDF00;
    border-color: black;
}
.span-B0BC00 {
    background-color: #B0BC00;
    border-color: black;
}
.span-808900 {
    background-color: #808900;
    border-color: black;
}
.span-A4DD00 {
    background-color: #A4DD00;
    border-color: black;
}
.span-68BC00 {
    background-color: #68BC00;
    border-color: black;
}
.span-194D33 {
    background-color: #194D33;
    border-color: black;
}
.span-68CCCA {
    background-color: #68CCCA;
    border-color: black;
}
.span-16A5A5 {
    background-color: #16A5A5;
    border-color: black;
}
.span-0C797D {
    background-color: #0C797D;
    border-color: black;
}
.span-73D8FF {
    background-color: #73D8FF;
    border-color: black;
}
.span-009CE0 {
    background-color: #009CE0;
    border-color: black;
}
.span-0062B1 {
    background-color: #0062B1;
    border-color: black;
}
.span-AEA1FF {
    background-color: #AEA1FF;
    border-color: black;
}
.span-7B64FF {
    background-color: #7B64FF;
    border-color: black;
}
.span-653294 {
    background-color: #653294;
    border-color: black;
}
.span-FDA1FF {
    background-color: #FDA1FF;
    border-color: black;
}
.span-FA28FF {
    background-color: #FA28FF;
    border-color: black;
}
.span-AB149E {
    background-color: #AB149E;
    border-color: black;
}
